:root {
    --mainColor: #2E765E;
    --altColor:#638C80;
    --contrastColor:#E2808A;
    --contrastLight:#F1CCD7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
}


body {
    background-color:var(--mainColor);
    display:flexbox;
    justify-content:center;
    align-items:center;
}

h1 {
    color:var(--contrastLight);
}

main {
    display:flex;
    justify-content: center;
    width:100%;
    align-items: center;

}

#button {
    display:flex;
    background:var(--contrastColor);
    height:100px;   
    width:100px; 
    align-items: center;
    justify-content: center;
}

#button:hover {
    background:var(--contrastLight);
}